.Linkedlist{
    position: absolute;
    left: 16vh;
    top: 1vh;
    color: white;
    width: 100px;
     height: 60px ;
}

.HorizontalScroller {
    overflow-x: auto;
    overflow-y: hidden; /* Prevent vertical scrolling */
    height: 400px;
    margin-left: 1rem; /* Corresponds to mx-4 */
    margin-right: 1rem; /* Corresponds to mx-4 */
    margin-left: 2rem; /* Corresponds to md:mx-8 */
    margin-right: 2rem; /* Corresponds to md:mx-8 */
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem; /* Adjust to match the rounding you want */
    background-color: black;
    border: 2px solid white;
}

.HorizontalScroller::-webkit-scrollbar {
    display: none; /* Adjust the height of the scrollbar */
}


.HorizontalScroller::-webkit-scrollbar-thumb {
    background: transparent; /* Thumb color of the scrollbar */
}




.arrow {
    pointer-events: none;
  }
   
  .arrow__path {
    stroke: #000;
    fill: transparent;
    stroke-dasharray: 4 2;
  }
   
  .arrow__head line {
    stroke: #000;
    stroke-width: 1px;
  }